# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [3]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [32]:
#Your code here
cur.execute("""select firstName, 
            lastName from employees 
            join offices using(officeCode) 
            where city = 'Boston';""")
cur.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [72]:
#Your code here
cur.execute("""select city,
                    count(*)
                    from offices
                    left join employees
                    using(officeCode)
                    group by 1;""")
df = pd.DataFrame(cur.fetchall())
df.head(5)

#No

               0  1
0         Boston  2
1         London  2
2            NYC  2
3          Paris  5
4  San Francisco  6

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
#1) Find the email addresses of all emplyees in the Tokyo office.
#2) FInd all comments on orders from customers in NYC
#3)Print Product names followed bytheir descriptions

In [35]:
# Your code here
cur.execute("""select email from employees 
            join offices using(officeCode) 
            where city = 'Tokyo';""")
cur.fetchall()

[('mnishi@classicmodelcars.com',), ('ykato@classicmodelcars.com',)]

In [71]:
# Your code here
cur.execute("""select comments from orders 
            join customers using(customerNumber) 
            where City = 'NYC';""")
cur.fetchall()

[('',),
 ('Difficult to negotiate with customer. We need more marketing materials',),
 ('Order was mistakenly placed. The warehouse noticed the lack of documentation.',),
 ('They want to reevaluate their terms agreement with Finance.',),
 ('',),
 ('',),
 ('',),
 ('Customer requested special shippment. The instructions were passed along to the warehouse',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('',),
 ('Customer is interested in buying more Ferrari models',),
 ('Customer requested that DHL is used for this shipping',)]

In [79]:
# Your code here
cur.execute("""select productName,
                    textDescription
                    from products
                    left join productlines
                    using(productLine)""")
df = pd.DataFrame(cur.fetchall())
df.head(30)

,0,1
0,1969 Harley Davidson Ultimate Chopper,Our motorcycles are state of the art replicas ...
1,1952 Alpine Renault 1300,Attention car enthusiasts: Make your wildest c...
2,1996 Moto Guzzi 1100i,Our motorcycles are state of the art replicas ...
3,2003 Harley-Davidson Eagle Drag Bike,Our motorcycles are state of the art replicas ...
4,1972 Alfa Romeo GTA,Attention car enthusiasts: Make your wildest c...
5,1962 LanciaA Delta 16V,Attention car enthusiasts: Make your wildest c...
6,1968 Ford Mustang,Attention car enthusiasts: Make your wildest c...
7,2001 Ferrari Enzo,Attention car enthusiasts: Make your wildest c...
8,1958 Setra Bus,The Truck and Bus models are realistic replica...
9,2002 Suzuki XREO,Our motorcycles are state of the art replicas ...
10,1969 Corvair Monza,Attention car enthusiasts: Make your wildest c...
11,1968 Dodge Charger,Attention car enthusiasts: Make your wildest c...
12,1969 Ford Falcon,Attention car enthusiasts: Make your wildest c...
13,1970 Plymouth Hemi Cuda,Attention car enthusiasts: Make your wildest c...
14,1957 Chevy Pickup,The Truck and Bus models are realistic replica...
15,1969 Dodge Charger,Attention car enthusiasts: Make your wildest c...
16,1940 Ford Pickup Truck,The Truck and Bus models are realistic replica...
17,1993 Mazda RX-7,Attention car enthusiasts: Make your wildest c...
18,1937 Lincoln Berline,Our Vintage Car models realistically portray a...
19,1936 Mercedes-Benz 500K Special Roadster,Our Vintage Car models realistically portray a...
20,1965 Aston Martin DB5,Attention car enthusiasts: Make your wildest c...
21,1980s Black Hawk Helicopter,"Unique, diecast airplane and helicopter replic..."
22,1917 Grand Touring Sedan,Our Vintage Car models realistically portray a...
23,1948 Porsche 356-A Roadster,Attention car enthusiasts: Make your wildest c...
24,1995 Honda Civic,Attention car enthusiasts: Make your wildest c...
25,1998 Chrysler Plymouth Prowler,Attention car enthusiasts: Make your wildest c...
26,1911 Ford Town Car,Our Vintage Car models realistically portray a...
27,1964 Mercedes Tour Bus,The Truck and Bus models are realistic replica...
28,1932 Model A Ford J-Coupe,Our Vintage Car models realistically portray a...
29,1926 Ford Fire Engine,The Truck and Bus models are realistic replica...

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!